
@model WebSite.Models.ForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = "Forgot your password?";
}




<div class="col-md-6 offset-md-3 forgetPassword">

    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h5>Forget Password</h5>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })

            <div class="col-md-10">
                <input class="main-input-box form-control" type="text" id="forget-password-email" name="email" placeholder="Your e-mail" required />
            </div>
        </div>
        <div class="form-group">
            <div class="inline-box col-md-offset-2 col-md-10">
                <button class="btn-fill text-center" type="submit" id="" value="">Send </button>
                <a href="/Account/login" class="btn-remeberMe "><i class="fa fa-user"></i>Remember it!</a>
            </div>
        </div>
    }
</div>




@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
