@model WebSite.Models.RegisterViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Register";
}

<link href="~/Content/login_register.css" rel="stylesheet" />


<form action="action_page.php">



    <div class="container">

        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "login-form" }))
        {
            @Html.AntiForgeryToken()
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="uname" required>

            <label for="uname"><b>Fullname</b></label>
            <input type="text" placeholder="Enter Fullname" name="uname" required>

            <label for="uname"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="uname" required>

            <label for="uname"><b>Phone No</b></label>
            <input type="text" placeholder="Enter Phone No" name="uname" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>

            <button type="submit">Register</button>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
            }
        </div>

        <div class="container" style="background-color:#f1f1f1">
            <button type="button" class="cancelbtn">Cancel</button>
            <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
    </form>

